<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nuc.rwenjie.modules.sys.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="nuc.rwenjie.modules.sys.dataobject.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="text" property="text" />
        <result column="category_id" property="categoryId" />
        <result column="image" property="image" />
        <result column="tags" property="tags" />
        <result column="look" property="look" />
        <result column="star" property="star" />
        <result column="abstract" property="abstract" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, text, category_id, image, tags, look, star, abstract, create_time, update_time
    </sql>

</mapper>
